.bar:hover {
  fill: aliceblue;
}

#tooltip {
  text-align: center;
  width: 85px;
  height: 35px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  color: black;
  border: 1px solid gray;
  border-radius: 3px;
  opacity: 0;
  white-space: pre-wrap;
  position: absolute;
}
